*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Roboto Mono', monospace;
}

.center{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  /*flex-direction: column;*/

}

header{
  background-color: white;
  padding: 20px 0;
  border-bottom: 1px solid rgb(200, 200, 200);
} 

.logo{
  color: #da49df;
}

.logo h2{
  font-weight: normal;
  font-size: 24px;
}

.menu{
  width:80% ;
  text-align: right;
}

.menu a{
  color: #da49df;
  font-size: 14px;
  text-decoration-line: none;
  margin-right: 20px;
  transition:0.6s;
}

.menu .btn-menu{
  background-color: rgb(19, 128, 179);
  display: inline-block;
  padding: 6px 12px;
  color: rgb(247, 134, 213);
  border-radius: 9px;
  }

.menu a:hover{
  background-color: rgb(19, 145, 204);
  color: rgb(247, 134, 213));
}

/*
Section main 
 */
 section.main{
   background-image: url('image01.jpg');
   min-height: 500px ;
   background-position: center;
   background-size: cover; 
   background-repeat: no-repeat;
   background-attachment: fixed;
 }

.main__cta{
  width: 100%;
  text-align: center;
  margin: 60 px 0;
}

.main__cta h2{
  color: #da49df;
  font-size: 40px;
}

.main__cta p{
  color: gray;
  font-size: 19px;
  margin: 10px 0;
}

.main__cta button{
  background-color: rgb(19, 128, 179);
  display: inline-block;
  padding: 8px 20px;
  color: rgb(247, 134, 213);
  border-radius: 6px;
  font-size: 22px; 
  border:0;
  cursor: pointer;
}

.diferenciais{
  margin-top: 60px;
  display: flex;
    
}

.diferencial-single{
  background-color: white;
  width: 23%;
  margin-right: 2%;
  padding: 50px 20px;
}